html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #9ec5fe;
}


.form-container {
    width: 35%;
    background-color: #fff;
    box-shadow: 1px 3px 5px #808080;
}